* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

.logo-container {
  width: 50%;
  margin: auto;
}

.container {
  width: 70%;
  margin: auto;
}

.showcase {
  background: url('../src/images/main-display.jpg');
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-content {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-top: 25px;
  opacity: 0.9;

  /* margin-top: 50px; */
}

.main-dp {
  color: #fff;
  opacity: 0.9;
}

.main-dp img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

li {
  list-style: none;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: black;
}

#link {
  color: #333;
  font-weight: bolder;
  padding: 5px;
}

#link:hover {
  color: #fff;
  background: #ffb84d;
}

#about-me {
  padding: 10px;
  border: 5px solid #ffb84d;
  border-style: dotted;
}

.grid img {
  width: 100%;
}

.navbar,
#image-links,
#networking {
  margin: 25px auto;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  ul li {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}
